In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
df1 = pd.read_csv('model1.csv')
df2 = pd.read_csv('model2.csv')

In [3]:
# buat dataframe baru yang terdiri dari tps dan suara
# suara dipilih dari df1 dan df2 dengan confidence score tertinggi
df = pd.DataFrame()
df['tps'] = df1['tps']
df['suara'] = df1['suara']
df['confidence_score'] = df1['confidence_score']
for i in range(len(df1)):
    if df['tps'][i] in ['TPS_606_1','TPS_648_2','TPS_700_1','TPS_700_2','TPS_700_3']:
        continue
    if df2['confidence_score'][i] > df1['confidence_score'][i]:
        df['suara'][i] = df2['suara'][i]
        df['confidence_score'][i] = df2['confidence_score'][i]

In [4]:
result_df = df
result_df[['tps','suara_paslon']] = result_df['tps'].str.rsplit('_', n=1, expand=True)
result_df = result_df.pivot(index='tps', columns='suara_paslon', values='suara')
result_df.columns = ['suara_paslon_' + str(col) for col in result_df.columns]
result_df = result_df.reset_index()
result_df

         tps  suara_paslon_1  suara_paslon_2  suara_paslon_3
0    TPS_501              77             141              18
1    TPS_502             125              98              12
2    TPS_503              41             165              23
3    TPS_504              21             153              41
4    TPS_505              59             172              11
..       ...             ...             ...             ...
195  TPS_696               1              91               6
196  TPS_697              64             158               9
197  TPS_698               5             144              38
198  TPS_699               0             165              43
199  TPS_700              63             121              31

[200 rows x 4 columns]

In [6]:
result_df.to_csv('prediksi-tiap-tps.csv', index=False)

In [16]:
result_df['Persentase Suara Sah Paslon 2'] = ( result_df['suara_paslon_2'] / (result_df['suara_paslon_1'] + result_df['suara_paslon_2'] + result_df['suara_paslon_3']) ) * 100

In [17]:
result_df.rename(columns={'tps':'TPS'}, inplace=True)

In [18]:
# Bulatkan empat angka dibelakang koma persentase suara sah
result_df['Persentase Suara Sah Paslon 2'] = result_df['Persentase Suara Sah Paslon 2'].round(4)

In [19]:
result_df[['TPS', 'Persentase Suara Sah Paslon 2']].to_csv('final_result_persentase.csv', index=False)